body {
  background: url("https://c1.staticflickr.com/1/216/478083244_b417c1badd.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
}

ul {
  list-style-type: none;
}

.nav li {
  display: inline-block;
  padding-left: 30px;
  font-size: 20px;
}

.results-div {
  position: fixed;
  height: 83%;
  width: 200%;
  top: 50px;
  left: 0px;
  overflow-x: scroll;
  overflow-y: none;
  z-index: 1;
}

.horizontal {
  width: 230%;
  height: 100%;
  z-index: 2;
}

.artist {
  text-align: center;
  border: 3px solid black;
  margin-left: 30px;
  float: left;
  text-align: center;
  height: 95%;
  width: 300px;
  top: 50px;
  left: 30px;
  background: white;
  overflow: scroll;
}

.artist-image {
  position: relative;
  height: 50%;
  width: 100%;
}

.artist-image img {
  height: 150px;
  width: 150px;
}

.artist-info {
  display: none;
  overflow: scroll;
}

.image-frame {
  text-align: center;
  margin-left: 30px;
  float: left;
  height: 400px;
  width: 300px;
}

.image-frame img {
  height: 100%;
  width: 100%;
}

.image-frame h1 {
  margin-top: 48px;
}
.painting {
  position: relative;
  height: 87%;
  width: 83%;
  margin-left: 27px;
  margin-top: -378px;
}

.form-div {
  position: absolute;
  left: 400px;
  display: hidden;
  margin: 0 auto;
  height: 600px;
  width: 600px;
  text-align: center;
  z-index: 0;
}
