<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rylam</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>

    <script type="text/javascript" src="./js/app.js"></script>
    <script src="./js/matter-0.8.0.js" type="text/javascript"></script>
<<<<<<< HEAD
    <script type ="text/javascript" src = "./js/matter.js"></script>
=======

>>>>>>> bc194a80918103853b2fbffa60a9d88ae9df5b4d
    <script type="text/javascript" src="./js/classie.js"></script>
    <script type="text/javascript" src="./js/page_animation.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/linkstyles.css" />

</head>
  <body>
<<<<<<< HEAD
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> SMASH</h1>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        </div>
    </div>
    <canvas id = "canvas"></canvas>
=======

    <section id="holder">
        <div class="container-main" >
            <div class="grid">
            	<div class="grid__item color-8">
            		<div class="link link--manko ">
        				lyric's'mash <span>Lyrical Randomness Generator </span> <span>Generate lyrics by typing in a few words that grab lines of songs from various different artists at random</span>
        			<a class="link link--kukuri" href="/profile" data-letters="lyric's'mash">lyric's'mash</a>
            		</div>
            	</div>
            </div>
        </div>
    </section>
>>>>>>> bc194a80918103853b2fbffa60a9d88ae9df5b4d
</html>
  </body>
</html>
