<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rylam</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="./js/page_animation.js"></script>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/form.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/button.css" />
    <link rel="stylesheet" type="text/css" href="css/linkstyles_page.css" />

</head>
  <body>

    <section id="holder">
        <div class="container-main" >
            <div class="grid">
            	<div class="gridItem color-8">
                    <div class="user-form">
                        <div class = "logo"><a class="link link-coliney" href="/" data-letters="lyric's'mash">lyric's'mash</a></div>

                        <h1><span class="sign-in"></span> Login</h1>

                        <!-- show any messages that come back with authentication -->
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger"><%= message %></div>
                        <% } %>

                        <!-- LOGIN FORM -->
                        <form action="/login" method="post">
                            <span class="input input-jonezin">
                                    <input class="input_field input_field-jonezin" type="text" id="input-1" name="email"/>
                                    <label class="input_label input_label-jonezin" for="input-1">
                                        <span class="input_label-content input_label-content-jonezin">email</span>
                                    </label>
                                    <svg class="graphic graphic-jonezin" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                                    </svg>
                            </span>

                            <span class="input input-jonezin">
                                    <input class="input_field input_field-jonezin" type="password" id="input-1" name="password"/>
                                    <label class="input_label input_label-jonezin" for="input-1">
                                        <span class="input_label-content input_label-content-jonezin">password</span>
                                    </label>
                                    <svg class="graphic graphic-jonezin" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                                    </svg>
                            </span>

                            <button type="submit" class="btn btn-danger btn-lg">Login</button>
                        </form>




                    </div>
                <div class="user-form">

                    <h1><span class="sign-in"></span> Signup</h1>

                    <!-- show any messages that come back with authentication -->
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                    <% } %>

                    <!-- LOGIN FORM -->
                    <form action="/signup" method="post">
                        <span class="input input-jonezin">
                                <input class="input_field input_field-jonezin" type="text" id="input-1" name="email"/>
                                <label class="input_label input_label-jonezin" for="input-1">
                                    <span class="input_label-content input_label-content-jonezin">email</span>
                                </label>
                                <svg class="graphic graphic-jonezin" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                                </svg>
                        </span>

                        <span class="input input-jonezin">
                                <input class="input_field input_field-jonezin" type="password" id="password" name="password" />
                                <label class="input_label input_label-jonezin" for="input-1">
                                    <span class="input_label-content input_label-content-jonezin">password</span>
                                </label>
                                <svg class="graphic graphic-jonezin" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                                </svg>
                        </span>

                        <button type="submit" class="btn btn-danger btn-lg">Signup</button>
                    </form>


            		</div>
            	</div>
            </div>
        </div>
    </section>
    <script src="js/formscript.js"></script>
    <script src="js/classie.js"></script>
</html>
  </body>
</html>
