<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyrics Smash</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/form.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/button.css" />
</head>
<body>
    <div class = 'nav'>
        <logo><a href="/" ><h1>lyric's'mash</h1> </a></logo>
        <div class="page-links">
            <ul>
                <li><a href="/profile">wordit</a></li>
                <li><a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Login</a></li>
            </ul></div>
    </div>
    <div class="container">
    <section class="content">
        <h2>Lyrics Smash</h2>
        <span class="input input--nao">
                <input class="input__field input__field--nao inputter" type="text" id="input-1" />
                <label class="input__label input__label--nao" for="input-1">
                    <span class="input__label-content input__label-content--nao">First Word</span>
                </label>
                <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                </svg>
        </span>
        <span class="input input--nao">
                <input class="input__field input__field--nao inputter" type="text" id="input-1" />
                <label class="input__label input__label--nao" for="input-1">
                    <span class="input__label-content input__label-content--nao">second Word</span>
                </label>
                <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                </svg>
        </span>
        <span class="input input--nao">
                <input class="input__field input__field--nao inputter" type="text" id="input-1" />
                <label class="input__label input__label--nao" for="input-1">
                    <span class="input__label-content input__label-content--nao">third Word</span>
                </label>
                <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                </svg>
        </span>
        <span class="input input--nao">
                <input class="input__field input__field--nao inputter" type="text" id="input-1" />
                <label class="input__label input__label--nao" for="input-1">
                    <span class="input__label-content input__label-content--nao">fourth Word</span>
                </label>
                <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                </svg>
        </span>
        <span class="input input--nao">
                <input class="input__field input__field--nao inputter" type="text" id="input-1" />
                <label class="input__label input__label--nao" for="input-1">
                    <span class="input__label-content input__label-content--nao">fifth Word</span>
                </label>
                <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                </svg>
        </span>
    </section>




    <section class="content">

        <button id="search-button" class="button button--nuka button--round-s button--text-thick">Create Lyrics</button>

	</section>

    <div id="show-lyrics"></div>

    <template id="show-many" type="text/x-handlebars-template">
        {{#each lyric}}
            <div class="media" data-id="{{this.title}}">
                <div class="media-body">
                    <h4 class="media-heading">{{this.snippet}}</h4>
                    <p>media body</p>
                </div>
            </div>
        {{/each}}
    </template>

    <section class="mash">

  <button id="mash-button" class="button button--nuka button--round-s button--text-thick">Create Mash</button>

</section>

</div>
<script src="js/classie.js"></script>
<script>
    (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function() {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function() {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
            // in case the input is already filled..
            if( inputEl.value.trim() !== '' ) {
                classie.add( inputEl.parentNode, 'input--filled' );
            }

            // events:
            inputEl.addEventListener( 'focus', onInputFocus );
            inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
            classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
            if( ev.target.value.trim() === '' ) {
                classie.remove( ev.target.parentNode, 'input--filled' );
            }
        }
    })();
</script>
</body>
</html>
