/* General link styles */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

/* Kukuri */
.link-coliney {
	font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding: 0.65em 0 0.8em;
    transition: color 0.5s;
    font-weight: 900;
    overflow: hidden;
    font-size: 132px;
    position: absolute;
    left: -2px;
    top: 2px;
    letter-spacing: 1.3px;
    width: 100.5%;
}

.link-coliney:hover {
	color: #fff;
}

.link-coliney::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link-coliney:hover::after {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.link-coliney::before {
	/*content: attr(data-letters);*/
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #333;
	height: 500px;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.4s 0.3s;
	transition: width 0.4s 0.3s;
}

.link-coliney:hover::before {
	width: 100%;
}



/* Manko */
.link-coliney-link-hover {
	color: #B1C0B2;
font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: italic;
	padding: 0.65em 0 0.8em;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link-coliney-link-hover:hover {
	color: #1e1a1b;
}

.link-coliney-link-hover::before,
.link-coliney-link-hover::after {
	content: '';
	position: absolute;
	border-width: 4px 0;
	border-style: solid;
	border-color: #fff;
	pointer-events: none;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.link-coliney-link-hover::before {
	width: 50%;
	left: 25%;
	height: 80%;
	top: 10%;
}

.link-coliney-link-hover::after {
	width: 30%;
	left: 35%;
	height: 100%;
	top: 0;
}

.link-coliney-link-hover:hover::before,
.link-coliney-link-hover:hover::after {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.link-coliney-link-hover span {
	color: #fff;
	font-weight: 400;
	position: absolute;
	font-size: 0.2em;
	left: 0;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.link-coliney-link-hover span:first-of-type {
	bottom: 100%;
	margin-bottom: 15px;
	font-size: 22px;
	-webkit-transform: scale3d(0.8,0.8,1) translate3d(0,10px,0);
	transform: scale3d(0.8,0.8,1) translate3d(0,10px,0);
}

.link-coliney-link-hover span:last-of-type {
	top: 105%;
    font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	-webkit-transform: scale3d(0.8,0.8,1) translate3d(0,-10px,0);
	transform: scale3d(0.8,0.8,1) translate3d(0,-10px,0);
}

.link-coliney-link-hover:hover span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link-coliney-link-hover:hover span:first-of-type {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.link-coliney-link-hover:hover span:last-of-type {
	-webkit-transition-delay: 0.20s;
	transition-delay: 0.20s;
}
