@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,700,700italic,900,900italic);

*, *:after, *:before { box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	background: white;
	color: #404d5b;
	font-weight: 500;
	font-size: 1.05em;
font-family: 'Roboto', sans-serif;
	transition: background-color .25s ease-in-out;
-moz-transition: background-color .25s ease-in-out;
-webkit-transition: background-color .25s ease-in-out;
}

a {
	color: #fff;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #404d5b;
}

.container-main {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.container {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.content {
    font-size: 150%;
    padding: 1em 0;
    position: absolute;
	left: 30px;
	top: 50px;
	width:30%;
	min-width: 300px;
}
.content h2 {
	margin: 0 0 2em;
	opacity: 0.1;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

.nav {
    overflow: hidden;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 99;
    display: table-row-group;
}

logo {
	float: left;
	margin-left: 30px;
}

.page-links {
    right: 10px;
    top: 10px;
    position: absolute;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0 30px 0 0;
    line-height: 48px;
}

.user-form {
    width: 48%;
    float: left;
    padding: 5%;
    margin-left: 2%;
	margin-top: -200px;
}

.user-form:first-child {
    border-right: 1px solid #333;
}

button.btn.btn-danger.btn-lg {
    float: right;
    margin-right: 18px;
}


/* Grid */
.grid__item {
	height: calc(100vh - 40px);
	min-height: 740px;
	max-width: calc(100vw - 40px);
	background: #DDD;
	margin: 20px;
	padding: 100px 0;
	z-index: 1;
	position: relative;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transform: translate3d(0,0,0); /* Solves Safari bug because of SVG clipping mask */
}

.grid__item p {
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
}

.color-8 {
    background: #000000;
}

.word-data {
    width: 20%;
    float: left;
}

#holder {
	margin-right: auto;
	margin-left: auto;
		opacity: 0;
		transition: opacity .25s ease-in-out;
	 	-moz-transition: opacity .25s ease-in-out;
	 	-webkit-transition: opacity .25s ease-in-out;
}

#holder.visible {
	opacity: 1;
	transition: opacity .25s ease-in-out;
 	-moz-transition: opacity .25s ease-in-out;
 	-webkit-transition: opacity .25s ease-in-out;
}

#show-lyrics {
    font-size: 12px;
    text-align: left;
    margin-left: 20%;
    padding-left: 4%;
}
